<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !\.(gif|jpe?g|png|html\.twig)$ [NC]
RewriteRule ^(.*)$ /index.php?$1 [L]
</IfModule>
