{% set body_class, page_title, location = "", "Home", "home" %}

{% extends "base.html.twig" %}

{% block content_wrapper %}

    <div id="content_wrapper">

        <div class="content_pri">

            

        </div> <!-- // .content_pri -->

        <div class="content_sec">

            

        </div> <!-- // .content_sec -->

    </div> <!-- // #content_wrapper -->

{% endblock %}
