// SCSS CONFIGURATION LIBRARY

// @author: Erskine Design

// CONTENTS ------------
//  - DEFAULT VARIABLES
//      - FONT STACKS
//      - FONT SIZES
//      - FONT WEIGHTS
//      - COLOURS
//  - FUNCTIONS
//      - EM CALC
//      - MIXINS
//      - BORDER RADIUS
//      - LINEAR GRADIENT
//      - MICRO CLEARFIX
//      - INLINE BLOCK
// ---------------------


// @start DEFAULT VARIABLES -------------------- //

    // @start FONT STACKS -------------------- //

    $sans:sans-serif;
    $serif:serif;

    // @end FONT STACKS //

    // @start FONT SIZES -------------------- //

    $basefont:14;
    $baseh1:26;
    $baseh2:20;
    $baseh3:17;
    $baseh4:14;
    // $baseh5:;
    // $baseh6:;

    // @end FONT SIZES //

    // @start FONT WEIGHTS -------------------- //

    $lighter:300;
    $normal:400;
    $semibold:600;
    $bold:700;

    // @end FONT WEIGHTS //

    // @start COLOUR -------------------- //

    $black:#000;
    $white:#FFF;

    // @end COLOUR //

// @end DEFAULT VARIABLES //



// @start FUNCTIONS -------------------- //

    // @start EM CALC -------------------- //

    @function calc-em($target, $context: $basefont) {
        @return ($target / $context) * 1em;
    }

    // @end EM CALC //

// @end FUNCTIONS //



// @start MIXINS -------------------- //

    // @start BORDER RADIUS -------------------- //

    @mixin border-radius($radii) {
                border-radius:$radii;
        -webkit-border-radius:$radii;
    }

    // @end BORDER RADIUS //

    // @start INLINE BLOCK (http://bit.ly/thoughtbot-bourbon-inline-block) -------------------- //

    @mixin inline-block {
        display:inline-block;
        vertical-align:baseline;
        zoom:1;
        *display:inline;
        *vertical-align:auto;
    }

    // @end INLINE BLOCK //

    // @start LINEAR GRADIENT -------------------- //

    @mixin gradient($from, $to, $fallback: $to) {
        background-color:$fallback;
        background-image:       -webkit-gradient(linear, left top, left bottom, from($from), to($to));
        background-image:-webkit-linear-gradient(top, $from, $to);
        background-image:   -moz-linear-gradient(top, $from, $to);
        background-image:    -ms-linear-gradient(top, $from, $to);
        background-image:     -o-linear-gradient(top, $from, $to);
        background:              linear-gradient(to left bottom, $from, $to);
    }

    // @end LINEAR GRADIENT //

    // @start MICRO CLEARFIX (http://bit.ly/thoughtbot-bourbon-clearfix) -------------------- //

    @mixin clearfix {
        &:before,
        &:after {
            content:"";
            display:table;
        }
        &:after {
            clear:both;
        }
        zoom:1;
    }

    // @end MICRO CLEARFIX //

// @end MIXINS //


