@import "config";
@import "reset";


/*

    SCREEN PROTOTYPE

    @version: 1.0
    @author: Erskine Design

    CONTENTS ----------

        - BODY
            - ACCESSIBILITY NAVIGATION
        - DEFAULT STYLING
            - FORMS
            - TABLES
        - HEADLINES
        - LINKS
        - LAYOUT
            - HEADER & BRANDING
            - FOOTER
        - NAVIGATION
            - HORIZONTAL CLASS
            - PRIMARY NAVIGATION
        - GLOBAL ELEMENTS & COMPONENTS

    -------------------

*/


// @start BODY -------------------- //

body {
    background-color:$white;
    color:$black;
    font:$normal percentage($basefont/16) $sans1;
    line-height:(21 / $basefont);
    padding:((25 / $basefont) * 1em) 0;
}

    // @start ACCESSIBILITY NAVIGATION -------------------- //
    
    ul#nav_access {
        list-style:none;
        margin:0;
        position:relative;

        li {
            height:0;
        }
        a {
            background:#FFC;
            border:2px solid #DDD;
            display:block;
            font-size:11px;
            font-weight:bold;
            left:-9999px;
            padding:10px;
            position:absolute;
            top:0;

            &:hover,
            &:focus {
                color:#333;
                left:0;
            }
        } // ul#nav_access a

    } // ul#nav_access

    // Don't outline for nav_access users
    #nav_pri:focus,
    #content_wrapper:focus {
        outline:0;
    }

    // @end ACCESSIBILITY NAVIGATION //

// @end BODY //



// @start DEFAULT STYLING -------------------- //

address,
blockquote,
dl,
fieldset,
figure,
form,
hr,
ol,
p,
pre,
table,
ul {
    margin-bottom:calc-em(20);

    & + h2 {
        padding-top:calc-em(18, $baseh2);
    }
    & + h3 {
        padding-top:calc-em(19, $baseh3);
    }
    & + h4 {
        padding-top:calc-em(17, $baseh4);
    }
    // & + h5 {
    //     padding-top:;
    // }
    // & + h6 {
    //     padding-top:;
    // }

}

li {
    margin-left:calc-em(20);
}

ul {
    list-style:disc;

    li {
        
    }
}

ol {
    list-style:decimal;

    li {
        
    }
}

dl {
    

    dt {
        font-weight:$bold;
    }
    dd {
        
    }
}

hr {
    
}

blockquote {
    background-color:#EEE;
    padding:calc-em(15);

    p {
        
    }
    cite {
        
    }
}

code,
pre {
    font-family:monospace;
}
code {
    
}
pre {
    

    code {
        
    }
}

abbr {
    

    &:hover {
        cursor:help;
    }
}

del {
    text-decoration:line-through;
}

b,
strong {
    font-weight:bold;
}
em,
i {
    font-style:italic;
}

sup {
    vertical-align:super;
}
sub {
    vertical-align:sub;
}

small {
    
}

figure {
    

    img {
        
    }
    figcaption {
        
    }
}

iframe,
img,
object,
video {
    height:auto;
    max-width:100%;
}

    // @start FORMS -------------------- //

    form {
        

        dl {
            

            dt {
                
            }
            dd {
                
            }
        }

        ul {
            
        }
        li {
            
        }

    } // form

    fieldset {
        
    }

    label {
        

        em {
            
        }
    } // label

    input[type="text"],
    textarea {
        
    }
    input[type="checkbox"],
    input[type="radio"] {
        
    }
    textarea {
        
    }

    .error input,
    .error textarea {
        
    }

    form .cta_button {
        
        button {
            border:0;
            cursor:pointer;
            vertical-align:baseline;
        }
    }

    // @end FORMS //

    // @start TABLES -------------------- //

    table {
        
    }

    caption {
        
    }
    legend {
        
    }

    tr {
        
    }

    th,
    td {
        
    }
    th {
        
    }
    td {
        
    }

    thead {
        

        th {
            
        }
        td {
            
        }
    } // thead

    tbody {
        

        th {
            
        }
        td {
            
        }
    } // tbody

    // @end TABLES //

// @end DEFAULT STYLING //



// @start HEADLINES -------------------- //

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:$sans2;
    font-weight:$bold;
    line-height:1.4;
}

h1 {
    font-size:calc-em($baseh1);
    line-height:1.45;
    margin-bottom:calc-em(21, $baseh1);
}

h2 {
    font-size:calc-em($baseh2);
    margin-bottom:calc-em(17, $baseh2);
}

h3 {
    font-size:calc-em($baseh3);
    margin-bottom:calc-em(19, $baseh3);
}

h4 {
    font-size:calc-em($baseh4);
    margin-bottom:calc-em(24, $baseh4);
    text-transform:uppercase;
}

// h5 {
//     font-size:calc-em($baseh5);
//     line-height:;
//     margin-bottom:calc-em(20, $baseh5);
// }

// h6 {
//     font-size:calc-em($baseh6);
//     line-height:;
//     margin-bottom:calc-em(20, $baseh6);
// }

// @end HEADLINES //



// @start LINKS -------------------- //

a {
    color:$blue1;

    &:hover,
    &:focus {
        color:$blue2;
    }
}

// @end LINKS //



// @start LAYOUT -------------------- //

div#page {
    margin:0 auto;
    padding:0 3%;
    max-width:calc-em(940);
}

div#content_wrapper {
    @include clearfix;
}

.content_pri,
.content_sec {
    min-height:calc-em(660);
}

.content_pri {
    float:left;
    width:percentage(620.5 / 940);
}

.content_sec {
    float:right;
    width:percentage(300 / 940);
}

    // @start HEADER & BRANDING -------------------- //

    #header {
        padding-bottom:calc-em(20);
    }

    #branding {
        margin:0;
        padding:0;

        a {
            display:block;
            height:102px;
            width:160px;
        }

        .svg & {
            background-image:url("../images/branding/branding.svg");
            background-repeat:no-repeat;

            img {
                visibility:hidden;
            }
        }

    } // #branding

    // @end HEADER & BRANDING //

    // @start FOOTER -------------------- //

    #footer {
        
    }

    // @end FOOTER //

// @end LAYOUT //



// @start NAVIGATION -------------------- //

    /* @start HORIZONTAL CLASS -------------------- */

    .horizontal {
        *letter-spacing: normal; /* reset IE < 8 */
        letter-spacing: -0.31em; /* webkit */
        list-style:none;
        word-spacing: -0.43em; /* IE < 8 && gecko */

        dd,
        dt,
        li {
            @include inline-block;
            display: inline-block;
            letter-spacing: normal;
            margin-left:0;
            vertical-align: top;
            word-spacing: normal;
            zoom: 1; *display: inline; /* IE < 8: fake inline-block */
        }
        a {
            display:block;
        }
    }
    
    // @end HORIZONTAL CLASS //
    
    // @start PRIMARY NAVIGATION -------------------- //
    
    ul#nav_pri {
        background-color:#EEE;

        li {

            &.cur a {
                background-color:#DDD;
            }
        }
        a {
            padding:calc-em(10) calc-em(15);

            &:hover,
            &:focus {
                
            }
        }
    }

    // @end PRIMARY NAVIGATION //

// @end NAVIGATION //



// @start GLOBAL ELEMENTS & COMPONENTS -------------------- //

.hide {
    display:none;
}

.left {
    float:left;
}
.right {
    float:right;
}

.clearfix {
    @include clearfix;
}

@import "components-prototype";

// @end GLOBAL ELEMENTS & COMPONENTS //


