/*

    COMPONENTS LIBRARY
    For usage with screen_prototype.css
    
    @version: 1.0
    @author: Erskine Design
    
    CONTENTS ----------
    
        1. BLOCK
            1.1 BLOCK FORM
        2. ITEM LISTING
        3. CALL TO ACTION BUTTONS
    
    -------------------
    
*/



/* @group 1. BLOCK -------------------- */

div.block {
    background-color:#DDD;
    margin:0 0 20px;
    padding:20px 20px 4px;
}

    /* @group 1.1. BLOCK FORM ---------- */
    
    div.block form {
        font-size:0.9em;
        line-height:1.3em;
        margin:0;
    }
    div.block form fieldset {
        margin:0;
    }
    div.block form fieldset div {
        border-color:#999;
        padding:10px 0;
    }
    div.block label {
        float:none;
        left:0;
        margin:0 0 5px;
        width:auto;
    }
    div.block input[type="text"],
    div.block textarea {
        margin:0;
        padding:1%;
        width:98%;
    }
    div.block form div.multiselect input {
        position:absolute;
        left:0;
        top:1em;
    }
    div.block form div.submit {
        padding:10px 0;
        text-align:right;
    }
    
    /* @end */



/* @end */



/* @group 2. ITEM LISTING -------------------- */

ul.item_listing {
    border-bottom:1px dotted #999;
    list-style:none;
}
ul.item_listing li {
    border-top:1px dotted #999;
    margin:0;
}
ul.item_listing a {
    display:block;
    padding:0.25em 0.5em;
}
ul.item_listing a:hover,
ul.item_listing a:focus {
    background-color:#DDD;
}

/* @end */



/* @group 3. CALL TO ACTION BUTTONS -------------------- */

.cta_button a {
    background-color:#666;
    color:#FFF;
    display:block;
    font-weight:bold;
    font-size:1.5em;
    line-height:1.2em;
    padding:0.5em;
    text-align:center;
}
.cta_button a:hover,
.cta_button a:focus {
    background-color:#333;
}

/* @end */


