/*

    COMPONENTS LIBRARY
    For usage with screen_prototype.css
    
    @version: 1.0
    @author: Erskine Design
    
    CONTENTS ----------
    
        1. BLOCK
            1.1 BLOCK FORM
        2. LISTINGS
            2.1. ITEM LISTING
        3. CALL TO ACTION BUTTONS
    
    -------------------
    
*/



/* @group 1. BLOCK -------------------- */

.block {
    background-color:#DDD;
    margin:0 0 20px;
    padding:20px 20px 4px;
}



/* @end */



/* @group 2. LISTINGS -------------------- */



    /* @group 2.1. ITEM LISTING -------------------- */
    
    .item_listing {
        list-style:none;
        margin-bottom:0;
    }
    
    .item_listing li.item {
        margin-left:0;
        position:relative;
    }
    
    .item_listing a {
        
    }
    .item_listing a:hover,
    .item_listing a:focus {
        
    }
    
    .item_meta {
        width:;
    }
    
    .item_content {
        width:;
    }
    
    /* ITEM LISTING: CLEARFIX ----------------------- */
    .item_listing,
    .item_listing li.item {
        zoom:1;
    }
    .item_listing:before,
    .item_listing:after,
    .item_listing li.item:before,
    .item_listing li.item:after {
        content:"";
        display:table;
    }
    .item_listing:after,
    .item_listing li.item:after {
        clear:both;
    }
    
    /* @end */



/* @end */



/* @group 3. CALL TO ACTION BUTTONS -------------------- */

.cta_button a {
    background-color:#666;
    color:#FFF;
    display:block;
    font-weight:bold;
    font-size:1.5em;
    line-height:1.2em;
    padding:0.5em;
    text-align:center;
}
.cta_button a:hover,
.cta_button a:focus {
    background-color:#333;
}

/* @end */


