/*

    HTML reset stylesheet
    Adapted from YUI & HTML5 Doctor
    
    @version: 1.1
    @author: Erskine Design
 
*/



html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,img,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,hgroup,menu,nav,summary,time,mark,audio,video,header,footer { 
    margin:0;
    padding:0;
    border:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
    background:transparent;
}

html {
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
img,
menu,
nav,
section,
summary {
    display:block;
}

ol,
ul {
    list-style:none;
}

blockquote,
q {
    quotes:none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content:'';
    content:none;
}

a {
    background:transparent;
    border:0;
    font-size:100%;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

table {
    border-collapse:separate;
    border-spacing:0;
}
caption,
th,
td {
    text-align:left;
    font-weight:normal;
}

input,
select {
    vertical-align:middle;
}


