/*

    SCREEN PROTOTYPE
    
    @version: 1.0
    @author: Erskine Design
    
    CONTENTS ----------
    
        1. BODY
            1.1. ACCESSIBILITY NAVIGATION
        2. DEFAULT STYLING
            2.1. FORMS
            2.2. TABLES
        3. HEADLINES
        4. LINKS
        5. LAYOUT
            5.1. HEADER & BRANDING
            5.2. FOOTER
        6. NAVIGATION
            6.1. HORIZONTAL CLASS
            6.2. PRIMARY NAVIGATION
        7. GLOBAL ELEMENTS
    
    -------------------
    
*/



@import url(reset.css);
@import "config";


/* @group 1. BODY -------------------- */

body {
    
}

    /* @group 1.1. ACCESSIBILITY NAVIGATION ---------- */
    
    ul#nav_access {
        position:relative;
        margin:0;

        li {
            height:0;
        }
        a {
            background:#FFC;
            border:2px solid #DDD;
            display:block;
            font-size:11px;
            font-weight:bold;
            left:-9999px;
            padding:10px;
            position:absolute;
            top:0;

            &:hover,
            &:focus {
                color:#333;
                left:0;
            }
        } // ul#nav_access a

    } // ul#nav_access

    /* @end */



/* @end */



/* @group 2. DEFAULT STYLING -------------------- */

p,
ul,
dl,
ol {
    
}

ul {
    

    li {
        
    }
}

dl {
    

    dt {
        
    }
    dd {
        
    }
}

ol {
    

    li {
        
    }
}

hr {
    
}

blockquote {
    

    p {
        
    }
    cite {
        
    }
}

code,
pre {
    font-family:monospace;
}
code {
    
}
pre {
    

    code {
        
    }
}

abbr {
    

    &:hover {
        cursor:help;
    }
}

del {
    text-decoration:line-through;
}

b,
strong {
    font-weight:bold;
}
em,
i {
    font-style:italic;
}

sup {
    vertical-align:super;
}
sub {
    vertical-align:sub;
}

small {
    
}

figure {
    

    img {
        
    }
    figcaption {
        
    }
}

    /* @group 2.1. FORMS ---------- */

    form {
        

        dl {
            

            dt {
                
            }
            dd {
                
            }
        }

        ul {
            
        }
        li {
            
        }

    } // form

    fieldset {
        
    }

    label {
        

        em {
            
        }
    } // label

    input[type="text"],
    textarea {
        
    }
    input[type="checkbox"],
    input[type="radio"] {
        
    }
    textarea {
        
    }

    .error input,
    .error textarea {
        
    }

    /* SUBMIT ---------- */
    form .cta_button {
        
        button {
            border:0;
            cursor:pointer;
            vertical-align:baseline;
        }
    } // form .cta_button

    /* @end */

    /* @group 2.2. TABLES ---------- */

    table {
        
    }

    caption {
        
    }
    legend {
        
    }

    tr {
        
    }

    th,
    td {
        
    }
    th {
        
    }
    td {
        
    }

    thead {
        

        th {
            
        }
        td {
            
        }
    } // thead

    tbody {
        

        th {
            
        }
        td {
            
        }
    } // tbody

    /* @end */



/* @end */



/* @group 3. HEADLINES -------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    
}

h1 {
    
}
h2 {
    
}
h3 {
    
}
h4 {
    
}
h5 {
    
}
h6 {
    
}

/* @end */



/* @group 4. LINKS -------------------- */

a {
    

    &:hover,
    &:focus {
        
    }
    &:focus {
        outline:0;
    }
}

/* @end */



/* @group 5. LAYOUT -------------------- */

div#page {
    
}

div#content_wrapper {
    
}

.content_pri {
    
}

.content_sec {
    
}

    /* @group 5.1. HEADER & BRANDING -------------------- */

    #header {
        
    }

    #branding {
        
    }

    /* @end */

    /* @group 5.2. FOOTER -------------------- */

    #footer {
        
    }

    /* @end */



/* @end */



/* @group 6. NAVIGATION -------------------- */



    /* @group 6.1. HORIZONTAL CLASS -------------------- */

    .horizontal {
        list-style:none;

        li {
            @include inline-block;
            margin-left:0;
        }
        a {
            display:block;
        }
    } // .horizontal
    
    /* @end */
    
    /* @group 6.2. PRIMARY NAVIGATION -------------------- */
    
    ul#nav_pri {
        

        li {
            
        }
        a {
            

            &:hover,
            &:focus {
                
            }
        }
    } // ul#nav_pri

    /* @end */



/* @end */



/* @group 7. GLOBAL ELEMENTS -------------------- */

.hide {
    display:none;
}

.left {
    float:left;
}
.right {
    float:right;
}

.clearfix {
    @include clearfix;
}



/* @end */


