/*

    [PROJECT NAME]
    
    @version: 1.0
    @author: Erskine Design
    
    CONTENTS ----------
    
        1. BODY
            1.1. ACCESSIBILITY NAVIGATION
        2. DEFAULT STYLING
            2.1. FORMS
            2.2. TABLES
        3. HEADLINES
        4. LINKS
        5. LAYOUT
            5.1. HEADER & BRANDING
            5.2. FOOTER
        6. NAVIGATION
        7. GLOBAL ELEMENTS
    
    -------------------
    
    COLOURS -----------
    
        black: #000000
        white: #FFFFFF
    
    -------------------
    
*/



@import url(reset.css);



/* @group 1. BODY -------------------- */

body {

}



    /* @group 1.1. ACCESSIBILITY NAVIGATION ---------- */
    
    ul#nav_access {
        position:relative;
        margin:0;
    }
        ul#nav_access li {
            height:0;
        }
            ul#nav_access li a {
                position:absolute;
                left:-9999px;
                top:0;
                font-size:11px;
                font-weight:bold;
                background:#FFFFCC;
                border:2px solid #ddd;
                padding:10px;
                display:block;
            }
                ul#nav_access li a:focus,
                ul#nav_access li a.focus {
                    left:0; 
                    color:#333; 
                }
    
    /* @end */
    
    
    
/* @end */



/* @group 2. DEFAULT STYLING -------------------- */

p, ul, dl, ol {

}

ul {

}
    ul li {

    }

dl {
     
}
    dl dt {

    }
    dl dd {

    }

ol {

}
    ol li {

    }

hr {

}

blockquote {

}
    blockquote p {
    
    }
    blockquote cite {

    }

code,
pre {
    font-family:monospace;
}
code {
    
}
pre {

}
    pre code {

    }

abbr {

}
    abbr:hover {
        cursor:help;
    }

del {
    text-decoration:line-through;
}

strong {
    font-weight:bold;
}

em {
    font-style:italic;
}

sup {
    vertical-align:super;
}

sub {
    vertical-align:sub;
}



    /* @group 2.1. FORMS ---------- */

    form {

    }
        form fieldset {

        }
        form fieldset div {

        }
        
    label {

    }
        label em {

        }
        
    textarea {

    }
    
    input,
    textarea {

    }
        input[type="text"],
        input[type="password"] {
    
        }
    
        /* SUBMIT ---------- */
        form div.submit {

        }
        input[type="submit"] {

        }
    
    /* @end */
    


    /* @group 2.2. TABLES ---------- */
    table {

    }
    caption {

    }
    legend {
        
    }
    tr {
    
    }
    th, td {

    }
    th {

    }
    td {
    
    }
        thead th {
    
        }
        thead td {
    
        }
        tbody th {
    
        }
        tbody td {
    
        }

    /* @end */
    
    
    
/* @end */



/* @group 3. HEADLINES -------------------- */

h1, h2, h3, h4, h5, h6 { 

}
h1 {

}
h2 { 

}
h3 { 

}
h4 { 

}
h5 { 

}
h6 { 

}

/* @end */



/* @group 4. LINKS -------------------- */


a {
    
}
    a:hover,
    a:focus {
    
    }

/* @end */



/* @group 5. LAYOUT -------------------- */

div#page {

}

div#content_wrapper {
    
}

    div#content_pri {
    
    }
    
    div#content_sec {
    
    }
    
    
    
    /* @group 5.1. HEADER & BRANDING -------------------- */

    div#header {

    }

    /* @end */
    
    
    
    /* @group 5.2. FOOTER -------------------- */

    div#footer {

    }

    /* @end */
    
    
    
/* @end */



/* @group 6. NAVIGATION -------------------- */


ul#navigation_pri {
    
}
    ul#navigation_pri li {
        
    }
        ul#navigation_pri li a {
            
        }
            ul#navigation_pri li a:hover,
            ul#navigation_pri li a:focus {
                
            }

/* @end */



/* @group 8. GLOBAL ELEMENTS -------------------- */



/* @end */


