<!DOCTYPE html>
<html lang="en" class="js-disabled">

    <head>

        <!-- META -->
        <meta charset="utf-8" />
        <meta name="author" content="Erskine Design" />
        <meta name="robots" content="noindex, nofollow">

        <title>{% block page_title %}{% endblock %} | Site Name</title>

        <!-- CSS -->
        <link rel="stylesheet" media="all" type="text/css" href="/static/css/screen.css" />

        <!-- IE CSS -->
        <!--[if IE 8]><link rel="stylesheet" media="all" type="text/css" href="/static/css/ie/screen_ie8.css" /><![endif]-->
        <!--[if lte IE 7]><link rel="stylesheet" media="all" type="text/css" href="/static/css/ie/screen_ie7.css" /><![endif]-->

        <!-- ICONS -->
        <link rel="icon" type="image/png" href="/static/images/icons/favicon.png" />

        <!-- MODERNIZR -->
        <script src="/static/js/modernizr.js"></script>

    </head>

    <body class="{% block body_class %}focused{% endblock %}" dir="ltr">

        <div id="page">

            <div id="header" role="banner">

                <p id="branding">
                    <a href="/">
                        <img src="/static/images/branding/branding.png" width="271" height="66" alt="Branding" />
                    </a>
                </p>

            </div> <!-- // #header -->

            <div id="content_wrapper">
                {% block content_wrapper %}

                {% endblock %}
            </div> <!-- // #content_wrapper -->

            <div id="footer" role="contentinfo">
                {% block footer %}
                <p class="small"><a href="/">&laquo; Back to homepage</a></p>
                {% endblock %}
            </div> <!-- // #footer -->

        </div> <!-- // #page -->

    </body>
</html>
