<!DOCTYPE html>
<html lang="en" class="no-js">

    <head>

        <!-- META -->
        <meta charset="utf-8" />
        <meta name="author" content="Erskine Design" />
        <meta name="description" content="" />
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->

        <title>{% block page_title %}{% endblock %} | Site name</title>

        <link rel="author" type="text/plain" href="/humans.txt" />

        <!-- CSS -->
        <link rel="stylesheet" media="all" type="text/css" href="/static/css/screen.css" />
        <link rel="stylesheet" media="all" type="text/css" href="/static/css/screen-prototype.css" />
        <link rel="stylesheet" media="print" type="text/css" href="/static/css/print.css" />

        <!-- IE CSS -->
        <!--[if IE 8]><link rel="stylesheet" media="all" type="text/css" href="/static/css/ie/screen_ie8.css" /><![endif]-->
        <!--[if lte IE 7]><link rel="stylesheet" media="all" type="text/css" href="/static/css/ie/screen_ie7.css" /><![endif]-->

        <!-- ICONS -->
        <link rel="icon" type="image/png" href="/static/images/icons/favicon.png" />

        <!-- RSS -->
        <!-- <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss/feed.xml" /> -->

        <!-- MODERNIZR -->
        <script src="/static/js/modernizr.js"></script>

    </head>

    <body class="{% block body_class %}{% endblock %}" dir="ltr">

        <ul id="nav_access">
            <li><a href="#nav_pri">Skip to navigation</a></li>
            <li><a href="#content_wrapper">Skip to content</a></li>
        </ul> <!-- // #nav_access -->

        <div id="page">

            <div id="header" role="banner">

                {% block branding %}
                <p id="branding">
                    <a href="/">
                        <img src="/static/images/branding/branding.png" width="160" height="102" alt="Branding" />
                    </a>
                </p>
                {% endblock %}

            </div> <!-- // #header -->

            <ul class="horizontal" id="nav_pri" role="navigation">
                <!-- TODO: Logic for li.cur -->
                <li class="cur"><a href="/">Home</a></li>
                <li><a href="/elements.html">Elements</a></li>
                <li><a href="">Section 3</a></li>
                <li><a href="">Section 4</a></li>
            </ul> <!-- // #nav_pri -->

            <div id="content_wrapper">
                {% block content_wrapper %}

                <div class="content_pri">

                    

                </div> <!-- // .content_pri -->

                <div class="content_sec">

                    

                </div> <!-- // .content_sec -->

                {% endblock %}
            </div> <!-- // #content_wrapper -->

            <div id="footer" role="contentinfo">

                <p class="copyright">&copy; {{ "now"|date("Y") }} Site name</p>
                <p class="credit">Site by <a href="http://erskinedesign.com/">Erskine Design</a></p>

            </div> <!-- // #footer -->

        </div> <!-- // #page -->

        <!-- JAVASCRIPT -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="/static/js/EDJ.js"></script>

        <!-- CALL DOC READY FUNCTIONS -->
        <script type="text/javascript">
        $(document).ready(function() {
            var settings = {
                debug: true,
                STATIC_URL: '/static/'
            };
            EDJ.on_ready(settings);
        });
        </script>

    </body>
</html>
