{% extends "base.html" %}

{% block page_title %}Elements{% endblock %}
{% block body_class %}{% endblock %}

{% block content_wrapper %}

    <div class="content_pri">

        <h1>A level 1 heading</h1>

        <p>Introduction paragraph text here sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <p><img class="right" src="/static/images/dev/dev.png" width="210" height="210" alt="" /></p>

        <p>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing</strong> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <em>commodo consequat</em>. Duis aute irure <a href="">dolor in reprehenderit</a> in voluptate velit esse cillum dolore <abbr title="United States of America">USA</abbr> eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <h2>This is a level 2 heading</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <h3>This is a level 3 heading</h3>

        <p><img class="left" src="/static/images/dev/dev.png" width="290" height="195" alt="" /></p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

        <blockquote>
            <p>This is a blockquote, a blockquote style here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            <cite>&mdash; Smith &amp; Wesson</cite>
        </blockquote>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <figure>
            <img src="/static/images/dev/dev.png" width="610" height="330" alt="" />
            <figcaption>This is an image caption</figcaption>
        </figure>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <ul>
            <li>This is a list item</li>
            <li>This is another list item</li>
            <li>A list item</li>
            <li>Another list item here</li>
            <li>This is another list item</li>
        </ul>

        <ol>
            <li>This is a list item</li>
            <li>This is another list item</li>
            <li>A list item</li>
            <li>Another list item here</li>
            <li>This is another list item</li>
        </ol>

        <dl>
            <dt>This is a list item</dt>
            <dd>This is another list item</dd>
            <dt>A list item</dt>
            <dd>Another list item here</dd>
            <dt>This is another list item</dt>
            <dd>Another list item here</dd>
        </dl>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        {% include 'components/_forms.html' %}

        <table>
            <thead>
                <tr>
                    <th>Table heading</th>
                    <th>Table heading</th>
                    <th>Table heading</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Row item</td>
                    <td>Row item</td>
                    <td>Row item</td>
                </tr>
                <tr>
                    <td>Row item</td>
                    <td>Row item</td>
                    <td>Row item</td>
                </tr>
                <tr>
                    <td>Row item</td>
                    <td>Row item</td>
                    <td>Row item</td>
                </tr>
                <tr>
                    <td>Row item</td>
                    <td>Row item</td>
                    <td>Row item</td>
                </tr>
                <tr>
                    <td>Row item</td>
                    <td>Row item</td>
                    <td>Row item</td>
                </tr>
            </tbody>
        </table>

    </div> <!-- // .content_pri -->

    <div class="content_sec">

        <div class="block">
            <p>This is a standard block, a standard block here. consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
        </div> <!-- // .block -->

    </div> <!-- // .content_sec -->

{% endblock %}
